@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto, sans-serif;
  @apply bg-[#f2f2f2] dark:bg-[#161617];
  width: 100%;
}

html {
  @apply scroll-smooth selection:bg-[#6991e2];
  width: 100%;
  overflow-y: scroll;
  ::-webkit-file-upload-button {
    cursor: pointer;
  }
}

@layer components {
  .prose-styles {
    @apply prose
    dark:prose-invert
    prose-sm 
    sm:prose
    lg:prose-lg
    xl:prose-xl
    prose-headings:text-black
    dark:prose-headings:text-[#c9cccf]
    xl:prose-headings:leading-[30px]
    xl:prose-headings:text-[22px]
    xl:prose-headings:font-medium  
    xl:prose-p:text-black 
    xl:dark:prose-p:text-[#c9cccf]
    xl:prose-p:text-[17px]
    xl:prose-p:leading-[26px]
    xl:prose-p:font-normal
    xl:prose-li:text-[17px]
    xl:prose-li:font-normal
    xl:prose-li:leading-[26px]
    xl:prose-strong:text-[17px]
    xl:prose-strong:font-normal
    xl:prose-strong:leading-[26px]
    xl:prose-strong:text-black
    xl:dark:prose-strong:text-[#c9cccf]
    xl:prose-li:marker:text-black
    xl:dark:prose-li:marker:text-[#c9cccf]
    xl:prose-blockquote:border-l-[#6991e2]
    xl:prose-hr:dark:border-[#c9cccf]
    xl:prose-hr:border-black;
  }
  .custom-transition {
    @apply transition ease-linear duration-100;
  }

  .main-bg {
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }
  .tiptap,
  .ProseMirror {
    @apply dark:bg-[#2c2c2c] bg-white;
  }
}
*,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tiptap p.is-empty::before {
  color: #c9cccf;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

blockquote p {
  quotes: "«" "»" "" "";
  font-style: normal;
}

blockquote {
  @apply border-l  pl-10 dark:border-l-[#6991e2] text-black dark:text-[#c9cccf];
}

strong {
  @apply text-black dark:text-[#c9cccf];
}
